{% extends "admin/base_site.html" %}

{% block title %}Import Scenes{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">Home</a> &rsaquo;
  <a href="/admin/story/">Story Builder</a> &rsaquo;
  <a href="/admin/story/story/">Story</a> &rsaquo;
  <a href="/admin/story/story/{{ instance.pk }}/">{{ instance }}</a> &rsaquo;
  <span>Import Scenes</span>
</div>
{% endblock breadcrumbs %}

{% block content %}
  <div class="module">
    <h2>Import</h2>
    <p>WARNING: this may erase all scenes on this story</p>
    <form method="post" action="." enctype="multipart/form-data">
      {% for error in errors %}<code>{{ error|linebreaks }}</code><hr>{% endfor %}
      {% csrf_token %}
      {{ form.as_p }}
      <p><button>Import</button></p>
    </form>
  </div>
{% endblock content %}
